######################
# Ignore the token.mat file used for submitting assignments
######################
/Week3/assignments/token.mat
/Week4/assignments/token.mat
/Week5/assignments/token.mat
/Week6/assignments/token.mat
/Week7/assignments/token.mat
/Week8/assignments/token.mat

######################
# Ignore the submit.m file used for submitting assignments
######################
/Week3/assignments/submit.m
/Week4/assignments/submit.m
/Week5/assignments/submit.m
/Week5/assignments/octave-workspace
/Week6/assignments/submit.m
/Week7/assignments/submit.m
/Week8/assignments/submit.m